*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background-color: #FFF;
  font-weight: bolder;

}

.ip-logo {
  width:  675px;
  height: 168px;
  background-image: url("../Images/seagull.jpg");


}

#content-container{

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}


#search {
  text-align: center;
  margin-top: 15px;
  margin-left: 89px;
}

#map {
	margin: 0;
	margin-top: 30px;
        padding: 0;
        height: 600px;
        width: 800px;
      }

@font-face {
    font-family: aquaFont;
    src: url(fonts\aqua.ttf);
}

#result {
    font-family: aquaFont, "Times New Roman", Sans-serif;
}
