*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background-color: #FFF;
  font-weight: bolder;

}

.ip-logo {
  display: block;
  width:  675px;
  height: 168px;
  background-image: url("../Images/seagull.jpg");
  margin: auto;
}

#content-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

#title{
  font-size: 200%;
  text-align: center;
}

#search {
  text-align: center;
  margin-top: 15px;
  margin-left: 89px;
}

#map {
  height: 600px;
  width: 800px;
  display: inline-flex;
}

@font-face {
    font-family: aquaFont;
    src: url(fonts\aqua.ttf);
}

#result {
    font-family: aquaFont, "Times New Roman", Sans-serif;
}
